body {
  margin: 0 auto;
  background-image: url('./images/bg-pattern-bottom-desktop.svg');
  font-size: 15px;
  font-family: 'Spartan', sans-serif;
}

.header {
  float: left;
  display: inline-block;
}
.main-header {
  color: hsl(300, 43%, 22%);
  width: 22%;
  font-size: 4em;
  font-weight: 700;
}

.sub-header {
  color: hsl(303, 10%, 53%);
  width: 25%;
}

.ratings {
  float: right;
  display: inline-block;
}

.rating {
  display: block;
}

.testimonial {
  background-color: hsl(300, 43%, 22%);
  width: 22%;
  display: inline-flex;
  color: hsl(300, 43%, 22%);
}

.verified-tag {
  color: hsl(333, 80%, 67%);
}

.testimonial-author {
  color: hsl(0, 0%, 100%);
  font-weight: 500;
}

.testimonial {
  font-weight: 400;
  color: hsl(0, 0%, 100%);
}
